<script type="text/javascript" charset="utf-8" src="/staticAssets/appOrdersMenu.js"></script>
<link rel="stylesheet" type="text/css" href="/staticAssets/resets.css" />
<link rel="stylesheet" type="text/css" href="/staticAssets/app.css" />
<link href='https://fonts.googleapis.com/css?family=Lemon' rel='stylesheet'>

</head>
<body class="{body.class}">
<!-- Page Wrapper -->
<div class="wrapper">
  <!-- Header -->
  <div class="header">
    <!-- Logo -->
    <a class="logo" href="/">
      <img src="/staticAssets/logo.png" alt="Logo" />
    </a>
    <!-- Navigation -->
    <ul class="menu">
      <li class="loggedIn">
        <a href="/account/edit">Account Settings</a>
      </li>
      <li class="loggedIn">
        <a href="/orders">My Orders</a>
      </li>
      <li class="loggedIn">
          <a href="/session/deleted">Log Out</a>
        </li>
    </ul>

    <div class="clear"></div>
  </div>

  <!-- Page-Specific Content -->
  <div class="content">


  <h1>{head.title}</h1>
  <h2>Swifty and tasty, you remember !</h2>
  <div>{head.description}</div>
  <div><button class="placeOrder">Place Order</button></div>
  
  <div class="contentError"></div>
  
  <div id="myMenu">
      <!-- <div class="pizza">
          <img src="/staticAssets/pizzas/${pizza}.jpg" alt=""></img>
          <div class="pizzaSelect">
            <div class="pizzaName">${pizza}</div>
            <button class="pizzaOrderLess ${index} ${pizza} ">order less</button>
            <div class="pizzaOrdered">Ordered : <div class="pizzaOrdered${index}">0</div></div>
            <button class="pizzaOrderMore ${index} ${pizza} ">order more</button>
          </div>
          <div class="spacerBig"></div>
        </div> -->
  </div>

</div>

