
<body class="{body.class}">
<!-- Page Wrapper -->
<div class="wrapper">
  <!-- Header -->
  <div class="header">
    <!-- Logo -->
    <a class="logo" href="/">
      <img src="/staticAssets/logo.png" alt="Logo" />
    </a>
    <!-- Navigation -->
    <ul class="menu">
      <li class="loggedIn">
        <a href="/account/edit">Account Settings</a>
      </li>
      <li class="loggedIn">
        <a href="/orders/menu">Order Menu</a>
      </li>
      <li class="loggedIn">
        <a href="/session/deleted">Log Out</a>
      </li>
    </ul>

    <div class="clear"></div>
  </div>

  <!-- Page-Specific Content -->
  <div class="content">


  <h1>{head.title}</h1>
  <h2>Swifty and tasty, you remember !</h2>
  <div>{head.description}</div>

  <div class="contentError"></div>

  <div id="myOrders">
   <!-- <div class="orderSelect">
          <div class="orderTime">${date.toDateString()} ${date.getHours()}:${date.getMinutes()}:${date.getSeconds()}</div>
            <span class="orderSpan">   </span>
            <button class="orderView ${order.id}">Preview</button>
            <span class="orderSpan">   </span>
            <div class="orderStatus">${order.status}</div>
          </div>
          <div class="spacerBig"></div>
        </div> -->
  </div>

</div>

